[user]
	name = lukethomas1
	email = lukethethomas@gmail.com
{{- if eq .role "arch" }}
	signingkey = ~/.ssh/id_ed25519.pub
{{- else if ne .role "container" }}
	signingkey = FEF953F3FC13A7EB
{{- end }}
[commit]
{{- if eq .role "container" }}
	gpgsign = false
{{- else }}
	gpgsign = true
{{- end }}
{{- if eq .role "arch" }}
[gpg]
	format = ssh
{{- end }}
{{- if eq .role "macos" }}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{- end }}
{{- if eq .role "fedora" }}
[credential "https://github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
{{- if eq .role "arch" }}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
{{- end }}
[includeIf "gitdir:~/Gitlab/"]
	path = ~/.gitconfig-work
[init]
	defaultBranch = main
